#################################################
# IntelliJ IDEA
#################################################
.idea/
*.iml
out/

#################################################
# Maven
#################################################
target/

#################################################
# Java
#################################################
*.class
*.jar
*.war
*.ear

#################################################
# Logs
#################################################
logs/
*.log

#################################################
# Environment Files (Secrets)
#################################################
.env
.env.*
application-local.properties
application-local.yml

#################################################
# Operating System Files
#################################################
.DS_Store
Thumbs.db

#################################################
# Temporary Files
#################################################
*.tmp
*.bak
*.swp

#################################################
# VS Code
#################################################
.vscode/

#################################################
# Eclipse
#################################################
.project
.classpath
.settings/

#################################################
# NetBeans
#################################################
nbproject/private/

#################################################
# Kubernetes
#################################################
*.kubeconfig

#################################################
# IntelliJ HTTP Client
#################################################
httpRequests/

#################################################
# IntelliJ Shelf
#################################################
shelf/